<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label  color="primary">Education</ion-label>
  
  <br><br>
  <ion-label>I am currently studying ICT at Laurea university of applied sciences as a second-year student in online bachelor’s degree programme in business information technology. <br><br>I did first part of practical training at Finavia last summer as database specialist.
    <br>Previously I graduated from Espoon kauppaoppilaitos as Datanomi (Vocational Qualification in Business Information Technology) 1994. <br>My high school diploma is from Sotungin lukio 1989.
      </ion-label>
      <br><br>
      <ion-label  color="primary">Previous work</ion-label>
      <br><br>
      <ion-label>I worked at PJP-Pankkijärjestelmäpalvelut Inc as software developer specialist. <br><br>PJP-Pankkijärjestelmäpalvelut Inc is a joint venture of OP-Palvelut Inc and Accenture Inc.
          Employment started May 2nd, 2011 at OP-Palvelut Inc, and I was transferred to PJP-Pankkijärjestelmäpalvelut Inc after business transfer. 	
          <br><br>Employment ended with 70 colleagues by economical- and production related grounds at April 12th, 2015.
          
          <br><br>I was deployed to wealth management area as technical application responsible to customers portfolio application (Tieto Abaris Salkku-application).
          <br><br>My responsibilities included creating production installment plans, stress plans, migration plans etc. Monitoring production environment from application interface and SQL database, solving problem situations with vendors, service providers and end users at OP.  Additionally, I coded with vb.Net Pohjola Pankki EMIR-UTI-reporting application.
          </ion-label>
          <br><br>
      <ion-label  color="primary">Earlier experience</ion-label>
      <br><br>
      <ion-label>Back Office Services BOS Ltd, January 2004 - April 2011, 	technical consultant. 
          <br>Responsibilities were customer project planning, developing and coding, installing and software maintenance.
            
          <br><br>ACNielsen Finland Ltd, December 1998 - December 2003, software specialist.
          <br>Responsibilities were software installing, modifying, support and training. Additionally, I was responsible for company webpages.
                  
          <br><br>Wilson Finland Ltd, January 1998 - December 1998, it-developer.
          <br>Responsibilities were it-support and as400 main administrator.
      
          <br><br>Basware Ltd, December 1996 - December 1997, system specialist
          <br>Responsibilities were developing, coding with VB, installments and software maintenance
      </ion-label>
      
</ion-content>
