<ion-header>
  <ion-toolbar  color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br> <img src="/assets/img/ari.jpg"><br><br>
  
  <ion-label>I am Ari Martelius, ICT-professional with 20 years of versatile work experience. <br>Development, programming, support, testing, consulting etc.
    <br><br>Lately I have been studying web and mobile app designing and developing to have a career change into that area. My aim is at entry level positions.</ion-label>
</ion-content>
