<ion-tabs>
  <ion-tab-bar id="hidemain" slot="bottom" color="primary">
      <ion-tab-button tab="about">
     
          <ion-label>About me</ion-label>
        </ion-tab-button>
    <ion-tab-button tab="targetcv">
     
      <ion-label>CV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projectwork">
     
      <ion-label>Project Work</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="extracurr">
     
      <ion-label>Extra Curr</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contactinfo">
     
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>