<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Extra Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>Hobbies</ion-label>
  
  <br><br>
  <ion-label>Floorball: played over 20 years and managed my team about 5 years.</ion-label>
  <br><br>
  <ion-label>Reading: Science fiction, fantasy, almost anything goes. </ion-label>
  <br><br>
  <ion-label>Gaming: Avid videogame player since 1980. Just logged 800 hours on Stellaris. Yep, i recommend it!</ion-label>
</ion-content>
