<ion-header>
  <ion-toolbar  color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Extra Curriculum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label  color="primary">Hobbies</ion-label>
  
  <br><br>
  <ion-label>Floorball: I've played over 20 years and managed floorball team about 5 years.</ion-label>
  <br><br>
  <ion-label>My other hobbies include reservist activity, hunting and medieval fencing.</ion-label>
  
  <br><br><br>
  <ion-label  color="primary">Position of trust</ion-label>
  <br><br>
  <ion-label>I've been chairman in my homeowner’s association for almost a decade.</ion-label>
  
 
</ion-content>
