<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Project work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label>Project history</ion-label>
  
  <br><br>
  <ion-label>Numerous different projects, development, migration, stress testing, deployment etc. </ion-label>
  <br><br>
  <ion-label>Project roles</ion-label>
  
  <br><br>
  <ion-label>Lead few projects but mostly been in specialist role. </ion-label>
</ion-content>
