<ion-header >
  <ion-toolbar  color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title >Project work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-label color="primary">Project history</ion-label>
  
  <br><br>
  <ion-label>I have created several different projects with Cordova and Ionic 4 at Github.
    <br><br>For example, those includes mobile cv -app and song list -app among others.
    <br> <br>https://github.com/Amarteli </ion-label>
       

</ion-content>
