<ion-header>
  <ion-toolbar  color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
       </ion-buttons>
    <ion-title>Contact information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br><br>
  <ion-label color="primary">Address:</ion-label>  <br><ion-label>Tatartie 1C19 02620 ESPOO</ion-label> 
  <br><br>
  <ion-label color="primary">Tel: </ion-label>  <br><ion-label>040-721 5096</ion-label>  
  <br><br>
  <ion-label color="primary">Email:  </ion-label>  <br><ion-label>ari.martelius@student.laurea.fi</ion-label>
</ion-content>
