<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div  [formGroup]="loginForm" class="ion-padding">
    <form  (ngSubmit)="home()" >
        <ion-item>
          <ion-label position="floating">UserId</ion-label>
          <input type="userid" formControlName = "userid"/>
       
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
         
          <input type="password" formControlName = "password" />
        </ion-item>
        <button ion-button type="submit" [disabled]="!todo.valid"  color="primary">Login</button>
      </form>

    </div>
</ion-content>
